# Условия и решения задач 6-го стрима по SQL

## Описание таблиц

**acquisition**
Содержит информацию о покупках одних компаний другими.

Таблица включает такие поля:

первичный ключ
` id `— идентификатор или уникальный номер покупки;

внешний ключ 
`acquiring_company_id` — ссылается на таблицу company — идентификатор компании-покупателя, то есть той, что покупает другую компанию;

внешний ключ 

`acquired_company_id` — ссылается на таблицу company — идентификатор компании, которую покупают;

`term_code` — способ оплаты сделки:

- `cash` — наличными;
- `stock` — акциями компании;
- `cash_and_stock` — смешанный тип оплаты: наличные и акции.

`price_amount` — сумма покупки в долларах;

`acquired_at` — дата совершения сделки;

`created_at` — дата и время создания записи в таблице;

`updated_at` — дата и время обновления записи в таблице.

**company**

Содержит информацию о компаниях-стартапах.

первичный ключ 

`id` — идентификатор, или уникальный номер компании;

`name` — название компании;

`category_code` — категория деятельности компании, например:

- `news` — специализируется на работе с новостями;
- `social` — специализируется на социальной работе.
- `status` — статус компании:
- `acquired` — приобретена;
- `operating` — действует;
- `ipo` — вышла на IPO;
- `closed` — перестала существовать.

`founded_at` — дата основания компании;

`closed_at` — дата закрытия компании, которую указывают в том случае, если компании больше не существует;

`domain` — домен сайта компании;

`twitter_username` — название профиля компании в твиттере;

`country_code` — код страны, например, USA для США, GBR для Великобритании;

`investment_rounds` — число раундов, в которых компания участвовала как инвестор;

`funding_rounds` — число раундов, в которых компания привлекала инвестиции;

`funding_total` — сумма привлечённых инвестиций в долларах;

`milestones` — количество важных этапов в истории компании;

`created_at` — дата и время создания записи в таблице;

`updated_at` — дата и время обновления записи в таблице.

**education**

Хранит информацию об уровне образования сотрудников компаний.

первичный ключ 
`id` — уникальный номер записи с информацией об образовании;
внешний ключ

`person_id` — ссылается на таблицу people — идентификатор человека, информация о котором представлена в записи;

`degree_type` — учебная степень, например:

- BA — Bachelor of Arts — бакалавр гуманитарных наук;
- MS — Master of Science — магистр естественных наук.

`instituition `— учебное заведение, название университета;

`graduated_at` — дата завершения обучения, выпуска;

`created_at` — дата и время создания записи в таблице;

`updated_at` — дата и время обновления записи в таблице.

**fund**

Хранит информацию о венчурных фондах.

первичный ключ `id `— уникальный номер венчурного фонда;

`name` — название венчурного фонда;

`founded_at` — дата основания фонда;

`domain` — домен сайта фонда;

`twitter_username` — профиль фонда в твиттере;

`country_code` — код страны фонда;

`investment_rounds` — число инвестиционных раундов, в которых фонд принимал участие;

`invested_companies` — число компаний, в которые инвестировал фонд;

`milestones` — количество важных этапов в истории фонда;

`created_at` — дата и время создания записи в таблице;

`updated_at` — дата и время обновления записи в таблице.

**funding_round**

Содержит информацию о раундах инвестиций.

первичный ключ `id` — уникальный номер инвестиционного раунда;

внешний ключ `company_id `— ссылается на таблицу company — уникальный номер компании, участвовавшей в инвестиционном раунде;

`funded_at` — дата проведения раунда;

`funding_round_type` — тип инвестиционного раунда, например:

- venture — венчурный раунд;
- angel — ангельский раунд;
- series_a — раунд А.
`raised_amount` — сумма инвестиций, которую привлекла компания в этом раунде в долларах;

`pre_money_valuation` — предварительная, проведённая до инвестиций оценка стоимости компании в долларах;

`participants `— количество участников инвестиционного раунда;

`is_first_round` — является ли этот раунд первым для компании;

`is_last_round` — является ли этот раунд последним для компании;

`created_at` — дата и время создания записи в таблице;

`updated_at` — дата и время обновления записи в таблице.

**investment**

Содержит информацию об инвестициях венчурных фондов в компании-стартапы.

первичный ключ `id `— уникальный номер инвестиции;

внешний ключ `funding_round_id` — ссылается на таблицу funding_round — уникальный номер раунда инвестиции;

внешний ключ `company_id` — ссылается на таблицу company — уникальный номер компании-стартапа, в которую инвестируют;

внешний ключ `fund_id `— ссылается на таблицу fund — уникальный номер фонда, инвестирующего в компанию-стартап;

`created_at `— дата и время создания записи в таблице;

`updated_at` — дата и время обновления записи в таблице.

**people**

Содержит информацию о сотрудниках компаний-стартапов.

первичный ключ `id` — уникальный номер сотрудника;

`first_name` — имя сотрудника;

`last_name` — фамилия сотрудника;

внешний ключ` company_id` — ссылается на таблицу company — уникальный номер компании-стартапа;

`twitter_username `— профиль сотрудника в твиттере;

`created_at` — дата и время создания записи в таблице;

`updated_at` — дата и время обновления записи в таблице.

## Задача 1.
Посчитайте, сколько компаний закрылось.

SELECT COUNT(status)
FROM company
WHERE status LIKE '%close%';

## Задача 2.
Отобразите количество привлечённых средств для новостных компаний США. Используйте данные из таблицы company. Отсортируйте таблицу по убыванию значений в поле funding_total .

SELECT funding_total
FROM company
WHERE country_code = 'USA'
AND category_code = 'news'
ORDER BY 1 DESC;

## Задача 3.
Найдите общую сумму сделок по покупке одних компаний другими в долларах. Отберите сделки, которые осуществлялись только за наличные с 2011 по 2013 год включительно.

SELECT SUM(price_amount)
FROM acquisition
WHERE term_code = 'cash'
AND EXTRACT(YEAR FROM acquired_at::DATE) IN (2011, 2012, 2013);

## Задача 4.
Отобразите имя, фамилию и названия аккаунтов людей в твиттере, у которых названия аккаунтов начинаются на 'Silver'.

SELECT first_name,
        last_name,
        twitter_username
FROM people
WHERE twitter_username LIKE 'Silver%'
LIMIT 10;

## Задача 5.
Выведите на экран всю информацию о людях, у которых названия аккаунтов в твиттере содержат подстроку 'money', а фамилия начинается на 'K'.

SELECT *
FROM people
WHERE twitter_username LIKE '%money%'
AND last_name LIKE 'K%'
LIMIT 10;

## Задача 6.
Для каждой страны отобразите общую сумму привлечённых инвестиций, которые получили компании, зарегистрированные в этой стране. Страну, в которой зарегистрирована компания, можно определить по коду страны. Отсортируйте данные по убыванию суммы.

SELECT country_code,
SUM(funding_total)
FROM company
GROUP BY 1
ORDER BY 2 DESC
;

## Задача 7.
Составьте таблицу, в которую войдёт дата проведения раунда, а также минимальное и максимальное значения суммы инвестиций, привлечённых в эту дату.
Оставьте в итоговой таблице только те записи, в которых минимальное значение суммы инвестиций не равно нулю и не равно максимальному значению.

SELECT DISTINCT funded_at,
MIN(raised_amount),
MAX(raised_amount)
FROM funding_round
GROUP BY 1
HAVING MIN(raised_amount) <> MAX(raised_amount)
        AND MIN(raised_amount) <> 0
;

## Задача 8.
Создайте поле с категориями:
Для фондов, которые инвестируют в 100 и более компаний, назначьте категорию high_activity.
Для фондов, которые инвестируют в 20 и более компаний до 100, назначьте категорию middle_activity.
Если количество инвестируемых компаний фонда не достигает 20, назначьте категорию low_activity.
Отобразите все поля таблицы fund и новое поле с категориями.

SELECT *,
    CASE
        WHEN invested_companies < 20 THEN 'low_activity'
        WHEN invested_companies < 100 THEN 'middle_activity'
        ELSE 'high_activity'
     END
FROM fund;

## Задача 9.
Для каждой из категорий, назначенных в предыдущем задании, посчитайте округлённое до ближайшего целого числа среднее количество инвестиционных раундов, в которых фонд принимал участие. Выведите на экран категории и среднее число инвестиционных раундов. Отсортируйте таблицу по возрастанию среднего.

SELECT activity, 
        ROUND(AVG(investment_rounds)) AS avg_round
FROM (
    SELECT *,
       CASE
           WHEN invested_companies>=100 THEN 'high_activity'
           WHEN invested_companies>=20 THEN 'middle_activity'
           ELSE 'low_activity'
       END AS activity
FROM fund) a
GROUP BY 1
ORDER BY avg_round;

## Задача10.
Выгрузите таблицу с десятью самыми активными инвестирующими странами. Активность страны определите по среднему количеству компаний, в которые инвестируют фонды этой страны.
Для каждой страны посчитайте минимальное, максимальное и среднее число компаний, в которые инвестировали фонды, основанные с 2010 по 2012 год включительно.
Исключите из таблицы страны с фондами, у которых минимальное число компаний, получивших инвестиции, равно нулю. Отсортируйте таблицу по среднему количеству компаний от большего к меньшему.
Для фильтрации диапазона по годам используйте оператор BETWEEN.

SELECT country_code,
        MIN(invested_companies),
        MAX(invested_companies),
        AVG(invested_companies)
FROM fund
WHERE EXTRACT(YEAR FROM founded_at::DATE) BETWEEN 2010 AND 2012
GROUP BY 1
HAVING MIN(invested_companies) <> 0
ORDER BY 4 DESC
LIMIT 10
;

## Задача 11.
Отобразите имя и фамилию всех сотрудников стартапов. Добавьте поле с названием учебного заведения, которое окончил сотрудник, если эта информация известна.

SELECT p.first_name,
        p.last_name,
        e.instituition
FROM people p
LEFT JOIN education e ON p.id = e.person_id
;

## Задача 12.
Для каждой компании найдите количество учебных заведений, которые окончили её сотрудники. Выведите название компании и число уникальных названий учебных заведений. Составьте топ-5 компаний по количеству университетов.

SELECT c.NAME,
        COUNT( DISTINCT e.instituition)
FROM company c
INNER JOIN people p ON c.id = p.company_id
INNER JOIN education e ON p.id = e.person_id
GROUP BY 1
ORDER BY 2 DESC
LIMIT 5;

## Задача 13.
Составьте список с уникальными названиями закрытых компаний, для которых первый раунд финансирования оказался последним.

SELECT  DISTINCT NAME
FROM company
WHERE status = 'closed'
AND id IN (SELECT company_id
    FROM funding_round
    WHERE is_first_round = 1
    AND is_last_round = 1)
;

## Задача 14.
Составьте список уникальных номеров сотрудников, которые работают в компаниях, отобранных в предыдущем задании.

SELECT DISTINCT id
FROM people
WHERE company_id IN (SELECT  DISTINCT id
        FROM company
        WHERE status = 'closed'
        AND id IN (SELECT company_id
            FROM funding_round
            WHERE is_first_round = 1
            AND is_last_round = 1))
;

## Задача 15.
Составьте таблицу, куда войдут уникальные пары с номерами сотрудников из предыдущей задачи и учебным заведением, которое окончил сотрудник.

SELECT DISTINCT person_id,
    instituition
FROM education
WHERE person_id IN (SELECT DISTINCT id
        
FROM people
WHERE company_id IN (SELECT  DISTINCT id
        FROM company
        WHERE status = 'closed'
        AND id IN (SELECT company_id
            FROM funding_round
            WHERE is_first_round = 1
            AND is_last_round = 1)))
;

## Задача 16.
Посчитайте количество учебных заведений для каждого сотрудника из предыдущего задания.

SELECT DISTINCT person_id,
    COUNT(instituition)
FROM education
WHERE person_id IN (SELECT DISTINCT id
        
FROM people
WHERE company_id IN (SELECT  DISTINCT id
        FROM company
        WHERE status = 'closed'
        AND id IN (SELECT company_id
            FROM funding_round
            WHERE is_first_round = 1
            AND is_last_round = 1)))           
GROUP BY 1
;

## Задача 17.
Дополните предыдущий запрос и выведите среднее число учебных заведений, которые окончили сотрудники разных компаний. Нужно вывести только одну запись, группировка здесь не понадобится.

SELECT AVG(count)
FROM (
 
SELECT DISTINCT person_id,
    COUNT(instituition)
FROM education
WHERE person_id IN (SELECT DISTINCT id
        
FROM people
WHERE company_id IN (SELECT  DISTINCT id
        FROM company
        WHERE status = 'closed'
        AND id IN (SELECT company_id
            FROM funding_round
            WHERE is_first_round = 1
            AND is_last_round = 1)))           
GROUP BY 1
) a;

## Задача 18.
Напишите похожий запрос: выведите среднее число учебных заведений, которые окончили сотрудники компании Facebook.

SELECT AVG(count)
FROM (
SELECT DISTINCT person_id,
    COUNT(instituition)
FROM education
WHERE person_id IN (SELECT DISTINCT id
        
FROM people
WHERE company_id IN (SELECT  DISTINCT id
        FROM company
        WHERE NAME = 'Facebook'
        ))           
GROUP BY 1
) a;

## Задача 19.
Составьте таблицу из полей:
name_of_fund — название фонда;
name_of_company — название компании;
amount — сумма инвестиций, которую привлекла компания в раунде.
В таблицу войдут данные о компаниях, в истории которых было больше шести важных этапов, а раунды финансирования проходили с 2012 по 2013 год включительно.

SELECT f.NAME AS name_of_fund,
        c.NAME AS name_of_company,
        fr.raised_amount AS amount
FROM investment i
LEFT JOIN company c ON i.company_id = c.id
LEFT JOIN fund f ON f.id = i.fund_id
INNER JOIN funding_round fr ON fr.id = i.funding_round_id
WHERE c.milestones > 6
AND EXTRACT(YEAR FROM fr.funded_at::DATE) BETWEEN 2012 AND 2013
;

## Задача 20.
Выгрузите таблицу, в которой будут такие поля:
название компании-покупателя;
сумма сделки;
название компании, которую купили;
сумма инвестиций, вложенных в купленную компанию;
доля, которая отображает, во сколько раз сумма покупки превысила сумму вложенных в компанию инвестиций, округлённая до ближайшего целого числа.

Не учитывайте те сделки, в которых сумма покупки равна нулю. Если сумма инвестиций в компанию равна нулю, исключите такую компанию из таблицы.
Отсортируйте таблицу по сумме сделки от большей к меньшей, а затем по названию купленной компании в алфавитном порядке. Ограничьте таблицу первыми десятью записями.

WITH
pk AS (SELECT
    a.id,
    c.NAME AS pokupatel,
    a.acquiring_company_id,
    a.price_amount
FROM acquisition a INNER JOIN company c ON a.acquiring_company_id = c.id
WHERE price_amount <> 0),
 
pr AS (SELECT
    a.id,
    c.NAME AS prodavec,
    a.acquired_company_id,
    c.funding_total
FROM acquisition a INNER JOIN company c ON c.id = a.acquired_company_id
WHERE funding_total <> 0)
 
SELECT
    pokupatel,
    price_amount,
    prodavec,
    funding_total,
    ROUND(price_amount/funding_total)
FROM pk INNER JOIN pr using(id)
ORDER BY 2 DESC, 3
LIMIT 10  
;

## Задача 21.
Выгрузите таблицу, в которую войдут названия компаний из категории social, получившие финансирование с 2010 по 2013 год. Выведите также номер месяца, в котором проходил раунд финансирования.

SELECT
    c.NAME,
    EXTRACT(MONTH FROM funded_at::DATE) AS mon
FROM company c
INNER JOIN funding_round fr ON c.id = fr.company_id
WHERE category_code = 'social'
AND EXTRACT(YEAR FROM funded_at::DATE) BETWEEN 2010 AND 2013
;

## Задача 22.
Отберите данные по месяцам с 2010 по 2013 год, когда проходили инвестиционные раунды. Сгруппируйте данные по номеру месяца и получите таблицу, в которой будут поля:
- номер месяца, в котором проходили раунды;
- количество уникальных названий фондов из США, которые инвестировали в этом месяце;
- количество компаний, купленных за этот месяц;
- общая сумма сделок по покупкам в этом месяце.

WITH
    f AS (SELECT
              EXTRACT(MONTH FROM funded_at) AS mon,
              COUNT(DISTINCT NAME) AS funds
         FROM fund f 
              INNER JOIN investment i ON f.id = i.fund_id
              INNER JOIN funding_round fr ON i.funding_round_id = fr.id
         WHERE EXTRACT(YEAR FROM funded_at) BETWEEN 2010 AND 2013
             AND country_code = 'USA'
         GROUP BY 1 ),
         
    a AS (SELECT 
              EXTRACT(MONTH FROM acquired_at) AS mon,
              COUNT(acquired_company_id) AS com,
              SUM(price_amount) AS summ
        FROM acquisition
        WHERE EXTRACT(YEAR FROM acquired_at) BETWEEN 2010 AND 2013
        GROUP BY 1)
    
SELECT f.mon,
        funds,
        com,
        summ
FROM f INNER JOIN a ON f.mon = a.mon
 
GROUP BY 1,2,3,4
;

## Задача 23.
Составьте сводную таблицу и выведите среднюю сумму инвестиций для стран, в которых есть стартапы, зарегистрированные в 2011, 2012 и 2013 годах. Данные за каждый год должны быть в отдельном поле. Отсортируйте таблицу по среднему значению инвестиций за 2011 год от большего к меньшему.

    
WITH
s1 AS 
 
    (SELECT 
        country_code,
        AVG(funding_total) AS s_2011
    FROM company
    WHERE EXTRACT(YEAR FROM founded_at) = 2011
    GROUP BY 1),
 
s2 AS 
    (SELECT 
        country_code,
        AVG(funding_total) AS s_2012
    FROM company
    WHERE EXTRACT(YEAR FROM founded_at) = 2012
    GROUP BY 1),
    
s3 AS 
    (SELECT 
        country_code,
        AVG(funding_total) AS s_2013
    FROM company
    WHERE EXTRACT(YEAR FROM founded_at) = 2013
    GROUP BY 1)
    
SELECT
    country_code,
    AVG(s_2011) AS avg_2011,
    AVG(s_2012) AS avg_2012,
    AVG(s_2013) AS avg_2013
FROM s1
FULL JOIN s2 using(country_code)
FULL JOIN s3 using(country_code)
 
WHERE country_code IN (
            SELECT DISTINCT country_code
            FROM company
            WHERE EXTRACT(YEAR FROM founded_at ) BETWEEN 2011 AND 2013
            )
 
GROUP BY 1
HAVING  AVG(s_2011) IS NOT NULL
AND AVG(s_2012) IS NOT NULL
AND AVG(s_2013) IS NOT NULL
 
ORDER BY 2 DESC
 
;